<h1>
Tribe Game!
</h1>

<% stats = @human1.displayStats %>
<h1> <%= stats[0] %> </h1>
<p><%=stats[1]%></p>
<p><%=stats[2]%></p>

<% stats = @human2.displayStats %>
<h1> <%= stats[0] %> </h1>
<p><%=stats[1]%></p>
<p><%=stats[2]%></p>
